!!! XML
!!!
%html
  %head
    %title Equation of Time
    
    %link{ :rel  => 'icon', 
             :type => 'image/icon', 
             :href => '/images/favicon.ico' }
    %link{ :rel  => 'stylesheet', 
             :type => 'text/css', 
             :href => '/stylesheets/eot.css' }

  %body
    %h1
      %a{ :href => '/' } Main
      %br
      %hr
    #content
      = yield