%html
  %head
    %title web_links
  %body
    %h1 Some web links to get more information from
    %p
    %h3
      Here I have just a few links that helped me learn more about the Equation of Time.
    %table
      %tr
        %td
          %h3 Solar calculator has Equation of Time.
        %td
          %h3
            %li
              %a{:href => "http://www.esrl.noaa.gov/gmd/grad/solcalc/"} http://www.esrl.noaa.gov/gmd/grad/solcalc/
      %tr
        %td
          %h3 BASIC language algorithms.
        %td
          %h3
            %li
              %a{:href => "http://www.stargazing.net/kepler/sun.html"} http://www.stargazing.net/kepler/sun.html
      %tr
        %td
          %h3 Analemma.com has free apps also.
        %td
          %h3
            %li
              %a{:href => "http://www.analemma.com/"} http://www.analemma.com/
      %tr
        %td
          %h3 Analemma data calculations.
        %td
          %h3
            %li
              %a{:href => "/analemma"} analemma data table
      %tr
        %td
          %h3
            Stonehenge Decoded
            by Gerald S. Hawkins
        %td
          %h3
            %li
              %a{:href => "http://www.amazon.com/Stonehenge-Decoded-Gerald-S-Hawkins/dp/0880291478"} http://www.amazon.com/Stonehenge-Decoded-Gerald-S-Hawkins/dp/0880291478
      %tr
        %td
          %h3 USNO Circular 179
        %td
          %h3
            %li
              %a{:href => "http://aa.usno.navy.mil/publications/docs/Circular_179.php"} http://aa.usno.navy.mil/publications/docs/Circular_179.php
      %tr
        %td
          %h3
            Astronomical Algorithms
            for C programmers.
        %td
          %h3
            %li
              %a{:href => "http://www.christophedavid.org/w/c/w.php/Trails/AstronomicalAlgorithms"} http://www.christophedavid.org/w/c/w.php/Trails/AstronomicalAlgorithms
      %tr
        %td
          %h3 Celestial navigation web pages
        %td
          %h3
            %li
              %a{:href => "http://www.celnav.de/page3.htm"} http://www.celnav.de/page3.htm
      %tr
        %td
          %h3
            Astronomical Algorithms
            by Jean Meeus
        %td
          %h3
            %li
              %a{:href => "http://www.willbell.com/math/mc1.htm"} http://www.willbell.com/math/mc1.htm
      %tr
        %td
          %h3 AA+
        %td
          %h3
            %li
              %a{:href => "http://www.naughter.com/aa.html"} http://www.naughter.com/aa.html
      %tr
        %td
          %h3
            Astronomical Algorithms
            done with Java Applets.
        %td
          %h3
            %li
              %a{:href => "http://www.jgiesen.de/elevaz/basics/meeus.htm"} http://www.jgiesen.de/elevaz/basics/meeus.htm
      %tr
        %td
          %h3
            Ruby Sphere
        %td
          %h3
            %li
              %a{:href => "http://sourceforge.net/projects/ruby-sphere/"} http://sourceforge.net/projects/ruby-sphere/
      %tr
        %td
          %h3 And then my projects in Ruby
      %tr
        %td
          %h3 Links to all my Heroku projects
        %td
          %h3
            %li
              %a{:href => "https://github.com/DouglasAllen/"} https://github.com/DouglasAllen/
      %tr
        %td
          %h3
            astro_dog is this Sinatra app on Gihub
        %td
          %h3
            %li
              %a{:href => "https://github.com/DouglasAllen/astro_dog"} https://github.com/DouglasAllen/astro_dog
      %tr
        %td
          %h3 Equation of Time on Gihub
        %td
          %h3
            %li
              %a{:href => "https://github.com/DouglasAllen/equation_of_time"} https://github.com/DouglasAllen/equation_of_time
